<tr align="center">

  <td><%= badge.title %> </td>
  <td><%= badge.rule %> </td>
  <td><%= badge.image_url %> </td>
  <td><%= link_to 'Show', @badge %></td>
  </td><%= link_to 'Back', admin_badges_path %></td>

</tr>
