<tr>
  <td class="align-middle"><%= test.title %>
      <%= render 'form_inline', test: test == @test ? @test: test %>
  </td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= link_to 'Show', admin_test_path(test) %></td>
  <td class="align-middle"><%= link_to 'Edit', edit_admin_test_path(test) %></td>
  <td class="align-middle"><%= link_to 'Delete',
                   admin_test_path(test),
                   method: :delete,
                   data: {confirm: ??} %>

 </td>
</tr>
