<h1> <%= @test.title %> </h1>
<h3> Questions for this test: </h3>

<table>
	<tr>
	    <th>Title</th>
	</tr>
<%= render partial: 'questions/question', collection: @test.questions %>
</table>
<ul>
<li><%= link_to 'Edit this test', edit_admin_test_path(@test) %></li>
<li><%= link_to 'Add new question for this test', new_test_question_path(@test) %></li>
<li><%= link_to 'Back', admin_test_path %></li>
</ul>
