<h1> <%= @test.title %> </h1>
<h3> Questions for this test: <h3>
 <% @test.questions.each do |question| %>
  <p> <%= question.content  %>
  	<%= link_to 'Watch question', question_path(question) %>
  </p> 
   <% end %> 

<%= link_to 'Edit this test', edit_test_path(@test) %>
<%= link_to 'Add new question for this test', new_test_question_path(@test) %>
<%= link_to 'Back', tests_path %>